<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJS 备忘录应用</title>
    <script src= "https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="todoCtrl">
<h2>我的备忘录</h2>

<form ng-submit="todoAdd()">
    <input type="text" ng-model="todoInput" size="50" placeholder="输入内容...">
    <input type="submit" value="新增">
</form>

<br>

<!--备忘显示区域-->
<div ng-repeat="x in todoList">
    <!-- 绑定数据 -->
    <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
</div>

<br>

<p><button ng-click="remove()">删除记录</button></p>

<script>
    var app = angular.module('myApp',[]);
    app.controller('todoCtrl',function ($scope) {
        // 默认显示一条备忘，未选中状态
        $scope.todoList = [{todoText:'Clean House', done:false}];

        // 添加数据
        $scope.todoAdd = function () {
            $scope.todoList.push({todoText:$scope.todoInput,done:false});
            $scope.todoInput = "";
        }

        // 删除被选中的数据
        $scope.remove = function () {
            var oldList = $scope.todoList;
            $scope.todoList = [];
            angular.forEach(oldList,function (x) {
                if (!x.done){
                    $scope.todoList.push(x);
                }
            });
        }
    });

</script>
</body>
</html>